
<div style="text-align:center;font-weight:bold;font-size:34px;">
	称骨算命
</div>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;称骨算命法，相传是唐朝周易大师袁天罡先生所创，其法将人的生辰八字，即出生的农历年月日时计算相应的“骨重”，然后根据“称骨”的总值来进行算命。
</p>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;注：古代的重量单位：1斤=10两，1两=10钱。
</p>

<div class="example">
	<form  method="GET" action="called_bone_fortune.html" id="form1" name="form1"></form>
		<div class="sel">&nbsp;&nbsp;&nbsp;&nbsp;出生的年份：<select name="nian" size="1"> 
		<option value=15>1945 1两5钱</option> 
		<option value=6>1946 6钱</option> 
		<option value=16>1947 1两6钱</option> 
		<option value=15>1948 1两五钱</option> 
		<option value=7>1949 7钱</option> 
		<option value=9>1950 9钱</option> 
		<option value=12>1951 1两2钱</option> 
		<option value=10>1952 1两</option> 
		<option value=7>1953 7钱</option> 
		<option value=15>1954 1两5钱</option> 
		<option value=6>1955 6钱</option> 
		<option value=5>1956 5钱</option> 
		<option value=14>1957 1两4钱</option> 
		<option value=14>1958 1两4钱</option> 
		<option value=9>1959 9钱</option> 
		<option value=7>1960 7钱</option> 
		<option value=7>1961 7钱</option> 
		<option value=9>1962 9钱</option> 
		<option value=12>1963 1两2钱</option> 
		<option value=8>1964 8钱</option> 
		<option value=7>1965 7钱</option> 
		<option value=13>1966 1两3钱</option> 
		<option value=5>1967 5钱</option> 
		<option value=14>1968 1两4钱</option> 
		<option value=5>1969 5钱</option> 
		<option value=9>1970 9钱</option> 
		<option value=17>1971 1两7钱</option> 
		<option value=5>1972 5钱</option> 
		<option value=7>1973 7钱</option> 
		<option value=12>1974 1两2钱</option> 
		<option value=8>1975 8两</option> 
		<option value=8>1976 8两</option> 
		<option value=6>1977 6钱</option> 
		<option value=19>1978 1两9钱</option> 
		<option value=6>1979 6钱</option> 
		<option value=8>1980 8钱</option> 
		<option value=16>1981 1两6钱</option> 
		<option value=10>1982 1两</option> 
		<option value=7>1983 7钱</option> 
		<option value=12>1984 1两2钱</option> 
		<option value=9>1985 9钱</option> 
		<option value=6 selected>1986 6钱</option> 
		<option value=7>1987 7钱</option> 
		<option value=12>1988 1两2钱</option> 
		<option value=5>1989 8钱</option> 
		<option value=9>1990 9钱</option> 
		<option value=8>1991 8钱</option> 
		<option value=7>1992 7钱</option> 
		<option value=8>1993 8钱</option> 
		<option value=15>1994 1两5钱</option> 
		<option value=9>1995 9钱</option> 
		<option value=16>1996 1两6钱</option> 
		<option value=8>1997 8钱</option> 
		<option value=8>1998 8钱</option> 
		<option value=19>1999 1两9钱</option> 
		<option value=12>2000 1两2钱</option> 
		<option value=6>2001 6钱</option> 
		<option value=8>2002 8钱</option> 
		<option value=7>2003 7钱</option> 
		<option value=5>2004 5钱</option> 
		<option value=15>2005 1两5钱</option> 
		<option value=6>2006 6钱</option> 
		<option value=16>2007 1两6钱</option> 
		<option value=15>2008 1两5钱</option> 
		<option value=7>2009 7钱</option> 
		<option value=9>2010 9钱</option> 
		<option value=12>2011 1两2钱</option> 
		<option value=10>2012 1两</option> 
		<option value=7>2013 7钱</option> 
		<option value=15>2014 1两5钱</option> 
		<option value=15>2015 1两5钱</option> 
		<option value=6>2016 6钱</option> 
		<option value=16>2017 1两6钱</option> 
		<option value=15>2018 1两五钱</option> 
		<option value=7>2019 7钱</option> 
		<option value=9>2020 9钱</option> 
		</select></div>
		<div class="sel">&nbsp;&nbsp;&nbsp;&nbsp;出生的月份：<select name="yue" size="1">
		<option value=6>正月 6钱</option> 
		<option value=7>二月 7钱</option> 
		<option value=18>三月 1两8钱</option> 
		<option value=9>四月 9钱</option> 
		<option value=5>五月 5钱</option> 
		<option value=16>六月 1两6钱</option> 
		<option value=9>七月 9钱</option> 
		<option value=15>八月 1两5钱</option> 
		<option value=18>九月 1两8钱</option> 
		<option value=8>十月 8钱</option> 
		<option value=9>十一月 9钱</option> 
		<option value=5>十二月 5钱</option> 
		</select></div>
		<div class="sel">&nbsp;&nbsp;&nbsp;&nbsp;出生的日期：<select  name="ri" size="1"> <br> 
		<option value=5>初一 5钱</option> 
		<option value=10>初二 1两</option> 
		<option value=8>初三 8钱</option> 
		<option value=15>初四 1两5钱</option> 
		<option value=16>初五 1两6钱</option> 
		<option value=15>初六 1两5钱</option> 
		<option value=8>初七 8钱</option> 
		<option value=16>初八 1两6钱</option> 
		<option value=8>初九 8钱</option> 
		<option value=16>初十 1两6钱</option> 
		<option value=9>十一 9钱</option> 
		<option value=17>十二 1两7钱</option> 
		<option value=8>十三 8钱</option> 
		<option value=17>十四 1两7钱</option> 
		<option value=10>十五 1两</option> 
		<option value=8>十六 8钱</option> 
		<option value=9>十七 9钱</option> 
		<option value=18>十八 1两8钱</option> 
		<option value=5>十九 5钱</option> 
		<option value=15>二十 1两5钱</option> 
		<option value=10>二一 1两</option> 
		<option value=9>二二 9钱</option> 
		<option value=8>二三 8钱</option> 
		<option value=9>二四 9钱</option> 
		<option value=15>二五 1两5钱</option> 
		<option value=18>二六 1两8钱</option> 
		<option value=7>二七 7钱</option> 
		<option value=8>二八 8钱</option> 
		<option value=16>二九 1两6钱</option> 
		<option value=6>三十 6钱</option> 
		</select></div>
		<div class="sel">&nbsp;&nbsp;&nbsp;&nbsp;出生的时辰：<select  name="shi" size="1"> 
		<option value=16>23～1时 子时 1两6钱 </option>
		<option value=6>1～3时 丑时 6钱 </option> 
		<option value=7>3～5时 寅时 7钱 </option> 
		<option value=10>5～7时 卯时 1两</option> 
		<option value=9>7～9时 辰时 9钱</option> 
		<option value=16>9～11时 巳时 1两6钱</option> 
		<option value=10>11～13时 午时 1两</option> 
		<option value=8>13～15时 未时 8钱</option> 
		<option value=8>15～17时 申时 8钱</option> 
		<option value=9>17～19时 酉时 9钱</option> 
		<option value=6>19～21时 戌时 6钱</option> 
		<option value=6>21～23时 亥时 6钱</option> 
		 </select>
		</div>
		<div class="sel">&nbsp;&nbsp;&nbsp;&nbsp;您的性别是：<select  name="sex" size="1"> 
		<option value=0>男</option>
		<option value=1>女</option> 
		 
		 </select>
		</div>
		<p>
		&nbsp;&nbsp;&nbsp;&nbsp;说明：出生日期以农历（阴历）为准，出生在夜11-12点，算第二天；闰月上半月算本月，下半月算下月。如闰五月十四，作五月算；闰五月十六，作六月算。<br>
		</p>
		
		<div style="text-align:center">
			<input name="submit" type="button" value="我也要算命" onclick="calledBoneFortune()">
		</div>
		
<p> 
	<a href="/gongli2nongli.html">不知农历，点此进行公历转换农历</a>
</p>
</div>

<script>
	function calledBoneFortune()
	{
		var nianValue = $("select[name^='nian']").val();
		var yueValue = $("select[name^='yue']").val();
		var riValue = $("select[name^='ri']").val();
		var shiValue = $("select[name^='shi']").val();
		var sex = $("select[name^='sex']").val();
		
		var score = parseInt(nianValue) + parseInt(yueValue) + parseInt(riValue) + parseInt(shiValue);
		
		$('#form1').attr('action', 'index_' + sex + '_'+score + '.html');
		$('#form1').submit();
	}
</script>