---
layout: called_bone_fortune
title: 称骨算命--我竟然是三两八钱的命--快来试试吧
excerpt: 称骨算命法，相传是唐朝周易大师袁天罡先生所创，其法将人的生辰八字，即出生的农历年月日时计算相应的“骨重”，然后根据“称骨”的总值来进行算命。
---

<div style="text-align:center;font-weight:bold;font-size:34px;">
	我竟然是三两八钱的命
</div>

<div class="para">一身骨肉最清高，早入簧门姓氏标。</div>
<div class="para">待到年将三十六，蓝衫脱去换红袍。</div>
<div class="para">注解：此命为人品性刚直，做事公开有才能，不肯休息，六亲兄弟不得力，祖业无靠，白手成家立业，末运多驳杂，
	不能聚财，好一双抓钱手，没有一个赚钱斗，此命蜘蛛结网，朝圆夜不圆，做几番败几番，只能稳步成家计，谁知又被狂风吹，
	初限二十三四，犹如明月被云侵，三十外来恰是日头又重开，终交末运方为贵，渐渐荣昌盛。</div>

{% include centerAd.html %} 

{% include called_bone_fortune.html %} 