---
layout: called_bone_fortune
title: 称骨算命--我竟然是四两的命--快来试试吧
excerpt: 称骨算命法，相传是唐朝周易大师袁天罡先生所创，其法将人的生辰八字，即出生的农历年月日时计算相应的“骨重”，然后根据“称骨”的总值来进行算命。
---

<div style="text-align:center;font-weight:bold;font-size:34px;">
	我竟然是四两的命
</div>

<div class="para">平生衣禄是绵长，件件心中自主张。</div>
<div class="para">前面风霜多受过，后来必定享安康。</div>
<div class="para">注解：此命为人性躁，心直口快，有才能，逢善不欺，逢恶不怕，
	事有始终，量能宽大，不能聚财，祖业破败，兄弟六亲不得力，自立家计出外方好，初限二十五六连年不遂，
	二十七**有好运，犹如枯木逢春，中限四十九岁有灾，铁镜重磨，明月正圆，五十六七交大运，寿元七十七，卒于春光中。</div>

{% include centerAd.html %} 

{% include called_bone_fortune.html %} 