---
layout: called_bone_fortune
title: 称骨算命--我竟然是二两六钱的命--快来试试吧
excerpt: 称骨算命法，相传是唐朝周易大师袁天罡先生所创，其法将人的生辰八字，即出生的农历年月日时计算相应的“骨重”，然后根据“称骨”的总值来进行算命。
---

<div style="text-align:center;font-weight:bold;font-size:34px;">
	我竟然是二两六钱的命
</div>

<div class="para">平生衣禄苦中求，独自营谋事不休，</div>
<div class="para">离祖出门宜早计，晚来衣禄自无休。</div>
<div class="para">注解：此命为人刚强，劳心劳力，移祖居住，有能自力得安然，知轻识重，坏事不做，老来贪心口无毒，
	但一 生不足，子息难靠。初限之中小发达，早年家计得安康，四十**岁，交来末运渐渐谋事而成，事业而就，财源 茂盛，
	老来荣华。妻宫有克，两妻无刑，子息四个只一子送终，寿元七十九，过此七十九岁，死于十二月中。</div>

{% include centerAd.html %} 

{% include called_bone_fortune.html %} 