---
layout: called_bone_fortune
title: 称骨算命--我竟然是五两三钱的命--快来试试吧
excerpt: 称骨算命法，相传是唐朝周易大师袁天罡先生所创，其法将人的生辰八字，即出生的农历年月日时计算相应的“骨重”，然后根据“称骨”的总值来进行算命。
---

<div style="text-align:center;font-weight:bold;font-size:34px;">
	我竟然是五两三钱的命
</div>

<div class="para">自己兴家立业之命</div>
<div class="para">此格推为气量真，兴家发达在其中，一生福禄安排定，却是人间一富翁。</div>
<div class="para">注解：此命推来敬重双亲，有福有禄，气质高昂，少年勤学功名不就，忠孝两全，心善无毒，非富则贵，
	出外有人钦佩，四海名扬，到老荣华，限上无忧，一世健康，青年欠利，末限安享福禄，白鹤先生云：此骨三限之骨，
	子孙王相之局，初限早成家计，辛勤劳苦，中限渐渐生财，重整门庭，末限荣华富贵，妻宫小配无刑，
	有三子二女送终，寿元八十二，卒于冬月之中。</div>

{% include centerAd.html %} 

{% include called_bone_fortune.html %} 