---
layout: called_bone_fortune
title: 称骨算命--我竟然是四两六钱的命--快来试试吧
excerpt: 称骨算命法，相传是唐朝周易大师袁天罡先生所创，其法将人的生辰八字，即出生的农历年月日时计算相应的“骨重”，然后根据“称骨”的总值来进行算命。
---

<div style="text-align:center;font-weight:bold;font-size:34px;">
	我竟然是四两六钱的命
</div>

<div class="para">改姓移居，自得福寿双全之命</div>
<div class="para">东西南北尽皆通，出姓移居更觉隆，衣禄无亏天数定，中年晚景一般同。</div>
<div class="para">注解：此命为人心慈性躁，有口无心，有粗有细，一生奔波，六亲无靠，无大难，妻宫无刑，
	祖业凋零，自立家计，早业如同败落萍，劳心用下一半生，交三十五六七**岁，又平平度过几春秋，
	六十前后花开日，花开又招雨来淋，必定小人加暗害，平日之中要小心，早子招维，只一子送终，寿元七十三，卒于冬月之中</div>

{% include centerAd.html %} 

{% include called_bone_fortune.html %} 