---
layout: called_bone_fortune
title: 称骨算命--我竟然是四两二钱的命--快来试试吧
excerpt: 称骨算命法，相传是唐朝周易大师袁天罡先生所创，其法将人的生辰八字，即出生的农历年月日时计算相应的“骨重”，然后根据“称骨”的总值来进行算命。
---

<div style="text-align:center;font-weight:bold;font-size:34px;">
	我竟然是四两二钱的命
</div>

<div class="para">自力更生，老运名利双收之命</div>
<div class="para">得宽怀处且宽怀，何用双眉皱不开，若使中年命运济，那时名利一齐来。</div>
<div class="para">注解：此命为人操劳，自成自立，与人出力事不成，离祖之命，成家三番四次，
	用尽心机不得开怀，若要安乐享福，要到三十六到四十六时不谋自待，福不求自至，有贵人助力，
	家庭安然，妻宫若要无刑，猴、猪、羊、蛇不可配，龙、虎、马、牛方得安，兄弟六亲如冰碳，
	在家不得安然，初限驳杂多端，不能聚钱，常有忧愁，寿元七十八岁，死于三月中。</div>

{% include centerAd.html %} 

{% include called_bone_fortune.html %} 