---
layout: called_bone_fortune
title: 称骨算命--我竟然是六两的命--快来试试吧
excerpt: 称骨算命法，相传是唐朝周易大师袁天罡先生所创，其法将人的生辰八字，即出生的农历年月日时计算相应的“骨重”，然后根据“称骨”的总值来进行算命。
---

<div style="text-align:center;font-weight:bold;font-size:34px;">
	我竟然是六两的命
</div>

<div class="para">鹤立鸡群，显祖扬宗之命</div>
<div class="para">一朝金榜快题名，显祖荣宗立大功，衣禄定然原裕足，田园财帛更丰盈。</div>
<div class="para">注解：此命为人灵机性巧，胸襟发达，志气高强，少年勤学，有功名之格，青年欠利，
	腹中多谋，有礼有仪，有才能，做事勤俭，一生福禄无亏，与人做事，有力无功，兄弟骨肉中多谋，交朋友，
	四海名扬，中限光辉门户，早能发达，义利分明，末限成家立业安然到老，高楼大厦，妻宫两硬无刑，子息三人，
	只有一人送终，寿元七十七岁，卒于春光之中。</div>

{% include centerAd.html %} 

{% include called_bone_fortune.html %} 