---
layout: called_bone_fortune
title: 称骨算命--我竟然是五两的命--快来试试吧
excerpt: 称骨算命法，相传是唐朝周易大师袁天罡先生所创，其法将人的生辰八字，即出生的农历年月日时计算相应的“骨重”，然后根据“称骨”的总值来进行算命。
---

<div style="text-align:center;font-weight:bold;font-size:34px;">
	我竟然是五两的命
</div>

<div class="para">衣食无亏，一生富贵之命</div>
<div class="para">为利为名终日劳，中年福禄也多遭，老来是有财星照，不比前番目下高。</div>
<div class="para">注解：此命为人正直，伶俐灵巧，有机变，平生无大难，祖业无靠，自成自立，白手成家，亲朋冷落，兄弟少力，
	可得四方之财，好一双挣钱手，没有一个聚钱斗，满面春风人道好，一生不足自爱知，妻迟子晚，初限奔波，中限四十岁方交大运，
	犹如枯木逢春，四十九岁有一灾，其年福星高照，有十年大运，财禄丰盈大吉昌，妻宫铁硬同偕老，子息一双可送终，
	寿元六十九岁，卒于冬月之中。</div>

{% include centerAd.html %} 

{% include called_bone_fortune.html %} 